.button {
  background-color: var(--g-color-primary);
  padding: 12px;
  border-radius: 15px;
  border: none;
  color: var(--g-text-color);
  font-weight: 600;
  transition-duration: 0.5s;
  cursor: pointer;
  margin-top: 1.25rem;
}

.button:hover {
  background-color: var(--g-color-secondary);
  color: var(--g-text-color);
}

.secondary {
  background-color: var(--g-color-secondary);
}

.secondary:hover {
  background-color: var(--g-color-primary);
}

.square {
  border-radius: 0;
}

.button[disabled] {
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.button[disabled]:hover {
  background-color: none;
}

.invite {
  outline: none;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  width: 154px;
  margin: 10px;
}
