.tabs-nav-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.3rem 0.3rem;
  margin-bottom: 1rem;
  width: 95%
}

.tabs-nav-container button {
  flex: 1;
  min-width: fit-content;
  margin-top: 0;
  padding-right: min(1rem);
  padding-left: min(1rem);
  font-weight: 600;
  font-size: 0.75rem;
  border-radius: 0
}

.tabs-nav-container .selected-button-style {
  flex: 1.1;
  background-color: lightgray;
  cursor: default
}
