.consultation-main-container {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  background: #333;
  justify-content: space-between
}

.consultation-video-controls {
  background: var(--g-color-secondary);
  border-radius: 0.2em;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.consultation-video-controls-end-call {
  background-color: #eb5151
}

.consultation-video-controls-start-call {
  background-color: white;
  color: #0ca98a
}

.consultation-video-controls-start-call,
.consultation-video-controls-end-call {
  border-radius: 50%;
  padding: 0.6rem 0.7rem 0.8rem
}

.consultation-video-controls-mute,
.consultation-video-controls-camera,
.consultation-video-controls-start-call,
.consultation-video-controls-end-call {
  border: none;
  cursor: pointer
}

.consultation-video-container {
  display: flex;
  flex-flow: column wrap;
  z-index: 1;
  align-items: center;
  justify-content: space-between
}

.videobox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between
}

.consultation-picture-in-picture {
  height: 40%;
  width: 40%;
  padding: 0.2131em;
  display: flex;
  flex-flow: nowrap;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.consultation-video-stream {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.consultation-video-stream-header {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(2px);
  background-color: rgb(128 128 128 / 52.1%);
  border-radius: 0.25em;
  padding: 0.5em 1em
}

@media screen and (max-width: 768px) {
  .consultation-main-container { height: 100vh }

  .consultation-video-stream {
    min-height: 90vh
  }

  .consultation-video-controls {
    width: 100%
  }
}
