.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%
}

.error {
  color: red;
  text-align: center
}

.record-audio {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #a5e0d5;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.image-upload {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #a5e0d5;
  border-radius: 1rem;
  outline: none;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  min-height: 3rem;
  cursor: pointer;
  overflow-wrap: break-word
}

.hidden {
  display: none
}

.margin-top {
  margin-top: 1rem
}

.margin-bottom {
  margin-bottom: 1rem
}

.c-select {
  height: 3rem;
  width: 300px;
  border-radius: 10px;
  padding-inline-start: 15px;
  border: 1px solid var(--g-color-primary)
}